* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.game-board {
    width: 100%;
    height: 500px;
    border-bottom: 15px solid #00ff08;
    margin: 0 auto;
    position: relative;
    overflow: hidden;
    background: linear-gradient(#87ceeb, #e0f6ff);
}

.mario {
    width: 110px;    
    position: absolute;
    bottom: 0px;
}

.pipe {
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
}

.jump {
    animation: jump 500ms ease-out;
}

.clouds {
    position: absolute;
    width: 370px;
    animation: clouds-animation 20s infinite linear;
}

.hide {
    display: none;
}

.restart {
    position: relative;
    background: #eef6fa;
    margin: 19em 30em;
    padding: 0.3em 1.4em;
    font-size: 14px;
    font-weight: 600;
    animation: border-animation 1.2s infinite ease-out;
}

@keyframes pipe-animation {
    from {
        right: -80px;
    }

    to {
        right: 100%;
    }
}

@keyframes jump {
    0% {
        bottom: 0;
    }

    40% {
        bottom: 180px;
    }

    50% {
        bottom: 180px;
    }

    60% {
        bottom: 180px;
    }

    100% {
        bottom: 0;
    }
}

@keyframes clouds-animation {
    from {
        right: -370px;
    }

    to {
        right: 100%;
    }
}

@keyframes border-animation {
    from {
        border: 5px inset #ee0000;
    }

    to {
        border: 5px outset #730303;
    }
}